<p class="lead">
  <div class="row">
    <div class="col-md-12">{{typed-js content=model.ticketTypes speed=100}}</div>
  </div>
</p>
<p class="lead">
  {{#link-to 'track' class="btn btn-lg btn-primary" id="btn-learnmore"}}Learn more{{/link-to}}
</p>
