<form id="checkout">
  <div id="payment-form"></div>
  {{#liquid-if price}}
  <button class="btn btn-lg btn-primary" enabled={{active}}>Preorder - {{price}}</button>
  {{/liquid-if}}
</form>
{{yield}}
