<form id="checkout">
  <div id="payment-form"></div>
  {{#liquid-if ticket}}
  <button class="btn btn-lg btn-primary" enabled={{active}}>Preorder{{#if ticket.price}} - £{{to-pounds ticket.price}}{{/if}}</button>
  {{/liquid-if}}
</form>
{{yield}}
