<div id="landing" class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <img class="cover-heading" src="./logo.png" alt="" />
        {{liquid-outlet}}
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Created at BT Hackathon by <a href="https://twitter.com/marcelloseri">@marcelloseri</a>
            <a href="https://twitter.com/mattia_asti">@mattia_asti</a>,
            <a href="https://twitter.com/franp">@franp</a>
            <a href="https://twitter.com/mkakkouras">@mkakkouras</a>
            <a href="https://twitter.com/mschinis">@mschinis</a>,
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
